mines/
backups/
elpa/
eshell/
server/
url/
private/

.cask/

abbrev_defs
bookmarks
desktop
ido.last
recentf
savehist
smex-items

helm*
projectile*
*places
*lock
*~
\#*#
.#*
*.jar
history
network-security.data
*projects.el
constnil-custom.el
.custom.el
